# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env



# --------------------------------
# From Jan's guide for project 3 
/client/node_modules
# --------------------------------